@import "tailwindcss";

/* Default Light Mode */
html,
body {
  background-color: #f3f4f6;
  /* Tailwind gray-100 */
  color: #111827;
  /* Tailwind gray-900 */
}

/* Dark Mode (triggered by next-themes adding .dark to <html>) */
html.dark,
body.dark {
  background-color: #111827;
  /* Tailwind gray-900 */
  color: #f3f4f6;
  /* Tailwind gray-100 */
}

/* globals.css */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee-slide {
  display: flex;
  min-width: max-content;
  animation: marquee 20s linear infinite;
}